@mixin margins($marginTopUnits, $marginBottomUnits){
    $mtPxValue: $marginTopUnits * $defLineHeight;
    $mtRemValue: $mtPxValue / 10;
    $mbPxValue: $marginBottomUnits * $defLineHeight;
    $mbRemValue: $mbPxValue / 10;
    margin-top: $mtPxValue * 1px; 
    margin-top: $mtRemValue * 1rem; 
    margin-bottom: $mbPxValue *1px; 
    margin-bottom: $mbRemValue *1rem; 
}

@mixin multLineHeight($multValue){ $result: $defLineHeight * $multValue; }
@mixin multLineHeight2($multValue){ $result2: $defLineHeight * $multValue; }