.ba-c-works-grid {
    $block:&;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__item {
        flex-basis: 100%;
    }

    &__item-wrapper {
        display:block;
        height: getLines(6);
        overflow: hidden;
        position:relative;

        &.no-link {
            cursor:initial;
        }
    }

    &__item-tag {
        @include os-bold;
        background-color: getColor(yellow-1);
        height: getLines(1);
        padding: 0 5px;
        position: absolute;
        top:0;
        left:0;
        z-index: 1;
    }

    &__item-image, &__item-video {
        display: block;
        height:100%;
    }

    &__item-video iframe, &__item-video video {
        background-color: getColor(black);
        height: getLines(6);
        width:100%;
    }

    &__item-video video {
        object-fit: fill;
    }

    @media screen and (min-width: getBreakpoint(pantalla-sm)){
        &__item {
            flex-basis: 25%;
        }
    }

    @media screen and (min-width: getBreakpoint(pantalla-md)){

        &__item-wrapper, &__item-video iframe, &__item-video video {
            height: getLines(7);
        }

        &__item-tag {
            padding: 0 15px;
        }
    }
}