.bg-black-1 {
	background-color: getColor(gray-2) !important;
	color: getColor(white) !important;
}

.bg-gray-1 {
	background-color: getColor(gray-1);
	color:getColor(black);
}

.bg-orange-1 {
	background-color: getColor(orange-1) !important;
	color: getColor(white) !important;
}

.bg-green-1 {
	background-color: getColor(green-1);
	color: getColor(white);
}

.bg-pink-1 {
	background-color: getColor(pink-1);
	color:getColor(white);
}

.bg-pink-2 {
	background-color: getColor(pink-2);
	color:getColor(white);
}

.bg-purple-1 {
	background-color: getColor(purple-1);
	color:getColor(white);
}

.bg-yellow-1 {
	background-color: getColor(yellow-1);
	color:getColor(gray-2);
}

.bg-fluor-blue-1 {
	background-color: getColor(fluor-blue-1);
	color:getColor(gray-2);
}