.ba-l-full-bg {
    $block:&;
    position: relative;
    color: getColor(white);

    &__img {
        background-color: pink;
        height: 100%;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
}