<footer>
    <nav class="foot-nav" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ul>
                        <li class="dropdown col-md-3">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button">Creating</a>
                            <ul class="dropdown-menu">
                                <li class=""><a href="creating-change.html" class="">Change</a></li>
                                <li class=""><a href="creating-emotions.html" class="">Emotions</a></li>
                            </ul>
                        </li>
                        <li class="dropdown col-md-3">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button">Embracing</a>
                            <ul class="dropdown-menu">
                                <li class=""><a href="embracing-change.html" class="">Change</a></li>
                                <li class=""><a href="embracing-emotions.html" class="">Emotions</a></li>
                            </ul>
                        </li>
                        <li class="dropdown col-md-3">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button">Inspiring</a>
                            <ul class="dropdown-menu">
                                <li class=""><a href="inspiring-change.html" class="">Change</a></li>
                                <li class=""><a href="inspiring-emotions.html" class="">Emotions</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>					
        </div>				
    </nav>

    <div class="container foot-info">
        <div class="row">
            <div class="col-md-6 leftside">
                <p class="center title"><strong>Bipolar Artist HQ</strong></p>
                <div class="col-md-6 data">
                    <p class="center">Fernando Garrido, 9<br>28015 Madrid</p>
                </div>
                <div class="col-md-6 data">
                    <p class="center">+34 916 22 95 68<br><a href="https://www.google.es/maps/place/Bipolar+Artist/@40.4334117,-3.7117908,17z/data=!3m1!4b1!4m5!3m4!1s0x12a4988d14c346d9:0xe6fc017f4813e57c!8m2!3d40.4334076!4d-3.7096021" target="_blank">View on map</a></p>
                </div>
            </div>
            <div class="col-md-6 rightside">
                <p class="center title"><strong>Social Feeds</strong></p>
                <div class="col-md-12">
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/BipolarArtist/" target="_blank"><i class="foot-icon icon-bipo-fb"></i></a></li>
                        <li><a href="https://www.instagram.com/bipolarartist/" target="_blank"><i class="foot-icon icon-bipo-ig"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>