<!-- nav -->

<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"><img src="/images/BA-logo.png" alt="Bipolar Artist"></a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNavbar" aria-expanded="false" aria-controls="navbar">
                <span class="bar">Abrir menu</span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="drop-nav">
                <li class="dropdown noedrop col-md-3">
                    <a class="dropdown-toggle nav-selected nav-path-selected" data-toggle="dropdown" aria-expanded="false" aria-controls="drop1" role="button">Creating</a>
                    <ul class="dropdown-menu">
                        <li class=""><a href="/creating-change.html" class="">Change</a></li>
                        <li class=""><a href="/creating-emotions.html" class="">Emotions</a></li>
                    </ul>
                </li>
                <li class="dropdown noedrop col-md-3">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button">Embracing</a>
                    <ul class="dropdown-menu">
                        <li class=""><a href="/embracing-change.html" class="">Change</a></li>
                        <li class=""><a href="/embracing-emotions.html" class="">Emotions</a></li>
                    </ul>
                </li>
                <li class="dropdown noedrop col-md-3">
                    <a class="dropdown-toggle nav-selected nav-path-selected" data-toggle="dropdown" aria-expanded="false" aria-controls="drop1" role="button">Inspiring</a>
                    <ul class="dropdown-menu">
                        <li class=""><a href="/inspiring-change.html" class="">Change</a></li>
                        <li class=""><a href="/inspiring-emotions.html" class="">Emotions</a></li>
                    </ul>
                </li>							
            </ul>
            <div class="buttons">
                <a class="btn hsized small solid darkgrey" href="contact.php" role="button">Contact</a>
                <p class="copy"><strong>Bipolar Artist 2007-2020</strong> &reg; All Rights Reserved</p>												
            </div>
        </div>
    </div>
</nav>
<!--/ aquí acaba el nav -->