
{{ define "main" }}
    <div class="ba-l-two-four-grid">
        <div id="section-1" class="full-bleed ba-l-colorBg--yellow-1 ba-l-top-home-section">
            <div class="ba-l-container ba-l-top-home-section__content">
                
                <div class="ba-l-cols-md-2">
                    <div class="ba-l-cols__col">
                        <h1><span class="overmax-size serif">Going digital, together.</span></h1>
                        <p>We’re a creative agency specialised in crafting digital experiences that share your brand values.</p>
                        <p class="ba-u-text-color--purple-1">Madrid / London / Dubai / Barcelona</p>
                    </div>
                    <div class="ba-l-cols__col "></div>
                </div>
            </div>
        </div>
        <div id="section-2" class="full-bleed">
            <div class="ba-c-video-reel">
                <div class="ba-c-video-reel__on-top">
                    <div class="ba-l-container">
                        <p><a data-fancybox href="#baLongShowReel">Play showreel</a></p>
                    </div>
                </div>
                <video controls id="baLongShowReel" style="display:none;">
                    <source src="/video/20210322-BA-Brand-Video-b.mp4" type="video/mp4">
                    <source src="/video/20210322-BA-Brand-Video-b.webm" type="video/webm">
                    Your browser doesn't support HTML5 video tag.
                </video>


                <div class="ba-c-video-reel__video-wrapper">
                    <video class="video-wrapper__sources" muted loop playsinline autoplay preload="none" poster="/video/2021-BA-Brand-Video-short-poster.jpg">
                        <source src="/video/2021-BA-Brand-Video-short.mp4" type="video/mp4">
                        <source src="/video/2021-BA-Brand-Video-short.webm" type="video/webm">
                    </video>
                    <img src="/video/2021-BA-Brand-Video-short-poster.jpg">
                    
                </div>
            </div>
        </div>
        <div id="section-3" class="full-bleed ba-l-colorBg--gray-1">
            <div class="ba-l-container ba-l-container--big-top-padding ba-u-text-centered">
                <h1><span class="max-size serif">Our clients</span></h1>
                <p>We’re a friendly bunch who like to get to know the people we work with.<br/>
                    That means over time our clients become amigos:</p>
            </div>
            <div class="ba-c-logo-slider">
                <div class="ba-c-logo-slider__anim-wrapper"></div>
                <div class="ba-c-logo-slider__hidden-wrapper">
                    <div class="ba-c-logo-slider__logos-box">
                        <div class="ba-c-logo-slider__item imgEncaja">
                            <img src="/images/imgContent/client-logo-bw-Kearney.png" alt="Kearney Logo">
                        </div>
                        <div class="ba-c-logo-slider__item imgEncaja">
                            <img src="/images/imgContent/client-logo-bw-Virgin.png" alt="Virgin Logo">
                        </div>
                        <div class="ba-c-logo-slider__item imgEncaja">
                            <img src="/images/imgContent/client-logo-bw-giffgaff.png" alt="giffgaff Logo">
                        </div>
                        <div class="ba-c-logo-slider__item imgEncaja">
                            <img src="/images/imgContent/client-logo-bw-sky.png" alt="Sky Logo">
                        </div>
                        <div class="ba-c-logo-slider__item imgEncaja">
                            <img src="/images/imgContent/client-logo-bw-proactiv.png" alt="Proactiv Logo">
                        </div>
                        <div class="ba-c-logo-slider__item imgEncaja">
                            <img src="/images/imgContent/client-logo-bw-yap.png" alt="YAP Logo">
                        </div>
                        <div class="ba-c-logo-slider__item imgEncaja">
                            <img src="/images/imgContent/client-logo-bw-me.png" alt="Me by Melia Logo">
                        </div>
                        <div class="ba-c-logo-slider__item imgEncaja">
                            <img src="/images/imgContent/client-logo-bw-barclays.png" alt="Barclays Logo">
                        </div>
                        <div class="ba-c-logo-slider__item imgEncaja">
                            <img src="/images/imgContent/client-logo-bw-bumble.png" alt="Bumble Logo">
                        </div>
                        <div class="ba-c-logo-slider__item imgEncaja">
                            <img src="/images/imgContent/client-logo-bw-bp.png" alt="BP Logo">
                        </div>
                        <div class="ba-c-logo-slider__item imgEncaja">
                            <img src="/images/imgContent/client-logo-bw-santander.png" alt="Santander Logo">
                        </div>
                        <div class="ba-c-logo-slider__item imgEncaja">
                            <img src="/images/imgContent/client-logo-bw-schweppes.png" alt="Schweppes Logo">
                        </div>
                        <div class="ba-c-logo-slider__item imgEncaja">
                            <img src="/images/imgContent/client-logo-bw-makro.png" alt="Makro Logo">
                        </div>
                        <div class="ba-c-logo-slider__item imgEncaja">
                            <img src="/images/imgContent/client-logo-bw-wizink.png" alt="WiZink Logo">
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="ba-c-logos-grid">
                <div class="ba-c-logos-grid__item imgEncaja">
                    <img src="/images/imgContent/client-logo-bw-Kearney.png" alt="Kearney Logo">
                </div>
                <div class="ba-c-logos-grid__item imgEncaja">
                    <img src="/images/imgContent/client-logo-bw-Virgin.png" alt="Virgin Logo">
                </div>
                <div class="ba-c-logos-grid__item imgEncaja">
                    <img src="/images/imgContent/client-logo-bw-giffgaff.png" alt="giffgaff Logo">
                </div>
                <div class="ba-c-logos-grid__item imgEncaja">
                    <img src="/images/imgContent/client-logo-bw-sky.png" alt="Sky Logo">
                </div>
                <div class="ba-c-logos-grid__item imgEncaja">
                    <img src="/images/imgContent/client-logo-bw-proactiv.png" alt="Proactiv Logo">
                </div>
                <div class="ba-c-logos-grid__item imgEncaja">
                    <img src="/images/imgContent/client-logo-bw-yap.png" alt="YAP Logo">
                </div>
                <div class="ba-c-logos-grid__item imgEncaja">
                    <img src="/images/imgContent/client-logo-bw-me.png" alt="Me by Melia Logo">
                </div>
                <div class="ba-c-logos-grid__item imgEncaja">
                    <img src="/images/imgContent/client-logo-bw-barclays.png" alt="Barclays Logo">
                </div>
                <div class="ba-c-logos-grid__item imgEncaja">
                    <img src="/images/imgContent/client-logo-bw-bumble.png" alt="Bumble Logo">
                </div>
                <div class="ba-c-logos-grid__item imgEncaja">
                    <img src="/images/imgContent/client-logo-bw-bp.png" alt="BP Logo">
                </div>
                <div class="ba-c-logos-grid__item imgEncaja">
                    <img src="/images/imgContent/client-logo-bw-santander.png" alt="Santander Logo">
                </div>
                <div class="ba-c-logos-grid__item imgEncaja">
                    <img src="/images/imgContent/client-logo-bw-schweppes.png" alt="Schweppes Logo">
                </div>
                <div class="ba-c-logos-grid__item imgEncaja">
                    <img src="/images/imgContent/client-logo-bw-makro.png" alt="Makro Logo">
                </div>
                <div class="ba-c-logos-grid__item imgEncaja">
                    <img src="/images/imgContent/client-logo-bw-wizink.png" alt="WiZink Logo">
                </div>
            </div>-->
            <div class="ba-c-hoGa carousel ba-u-spacer-mt-double ba-u-spacer-mb-huge">
                <div class="ba-c-hoGa__card carousel-cell">
                    <div class="ba-c-hoGa__content">
                        <div class="ba-c-hoGa__content-quote">“You guys rock. The gameplan video was a total joy, super clear and has a lovely warmth to it. Bravo team!”</div>
                        <div class="ba-c-hoGa__content-subQuote">Abi Pearl - Head of Advertising at giffgaff </div>
                    </div>
                </div>
                <div class="ba-c-hoGa__card carousel-cell">
                    <div class="ba-c-hoGa__content">
                        <div class="ba-c-hoGa__content-quote">“Always exceeding expectations in terms of response times and quality of work, we felt Bipolar was part ofour team from day one, creating our website in record time.!”</div>
                        <div class="ba-c-hoGa__content-subQuote">Santiago Sierra - E-commerce Product Lead at Sky </div>
                    </div>
                </div>
                <div class="ba-c-hoGa__card carousel-cell">
                    <div class="ba-c-hoGa__content">
                        <div class="ba-c-hoGa__content-quote">“A team of greats who do not know the meaning of the word impossible. Thank you for creating our dream journey through the senses with passion and dedication.”</div>
                        <div class="ba-c-hoGa__content-subQuote">Inés García - CMO at Nuba </div>
                    </div>
                </div>
                <div class="ba-c-hoGa__card carousel-cell">
                    <div class="ba-c-hoGa__content">
                        <div class="ba-c-hoGa__content-quote">“The entire team at Bipolar are a pleasure to work with. Response times and quality of work are great and the results were amazing! We truly feel like Bipolar are an extension of our team.”</div>
                        <div class="ba-c-hoGa__content-subQuote">Simon Lomas - Head of Performance at Virgin </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="section-4" class="full-bleed ba-l-full-bg ba-l-rplcBg ba-u-spacer-pb-double">
            <div class="ba-l-full-bg__img">
                <source media="(min-width: 768px)" srcset="/images/imgContent/home-stats-bg@2x.jpg" />
                <img src="/images/imgContent/home-stats-bg.jpg" />
            </div>
    
            <div class="ba-l-container ba-l-container--big-top-padding" >
                <div class="ba-l-cols-md-1-narrow">
                   <div class="ba-o-top-tag">What we do</div>
                    <h2><span class="max-size serif"><u class="ba-l-rplcBg__shoot" data-bg="research">Research</u>, <u  class="ba-l-rplcBg__shoot" data-bg="strategy">strategy</u> and a <u class="ba-l-rplcBg__shoot" data-bg="user-centric">user centric</u> approach. These are some of the tools in our kit. 
                        <u  class="ba-l-rplcBg__shoot" data-bg="content">Content</u>, <u  class="ba-l-rplcBg__shoot" data-bg="ux">UX</u>, <u  class="ba-l-rplcBg__shoot" data-bg="design">design</u>, <u  class="ba-l-rplcBg__shoot" data-bg="motion">motion</u> and <u  class="ba-l-rplcBg__shoot" data-bg="development">development</u>. The strenghts we build great products with.</span></h2>
                    <h2><span class="max-size serif">We make life beautiful.</span></h2>
                </div>
                <div class="ba-l-container--stats">
                    <div class="ba-l-container--stats__figure">
                        <p><span class="figure-primary supermax-size serif">14</span><span class="figure-secondary">Years together</span></p>
                    </div>
                    <div class="ba-l-container--stats__figure">
                        <p><span class="figure-primary max-size serif">4,000+</span><span class="figure-secondary">Projects delivered</span></p>
                    </div>
                    <div class="ba-l-container--stats__figure">
                        <p><span class="figure-primary max-size serif">11,264</span><span class="figure-secondary">hours working abroad</span></p>
                    </div>
                    <div class="ba-l-container--stats__figure">
                        <p><span class="figure-primary max-size serif">1,540</span><span class="figure-secondary">hours spent on planes</span></p>
                    </div>
                    <div class="ba-l-container--stats__figure">
                        <p><span class="figure-primary supermax-size serif">23</span><span class="figure-secondary">staff members</span></p>
                    </div>
                </div>
            </div>
    
        </div>
    
        <div id="section-5" class="full-bleed ba-l-colorBg--purple-1">
            <div class="ba-l-container ba-u-spacer-pt-double">
                
                <div class="ba-l-cols-md-2">
                    
                    <div class="ba-l-cols__col ba-u-spacer-mb-double">
                        <h1><span class="max-size serif">Our work</span></h1>
                        <p>We’re passionate about what we do and are always happy to talk you through it, but we’d rather let our work speak for itself.</p>
                        <p><a href="#" class="ba-u-text-bold ba-u-link-arrow launch-navbar">View stories</a></p>
                    </div>
                    <div class="ba-l-cols__col ba-u-spacer-mb-double"></div>
                </div>
            </div>
        </div>

        <div id="section-6" class="full-bleed">
            <div class="ba-c-works-grid">
                <div class="ba-c-works-grid__item">
                    <a class="ba-c-works-grid__item-wrapper no-link">
                        <div class="ba-c-works-grid__item-tag">Virgin</div>
                        <div class="ba-c-works-grid__item-video">
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/t-Pe3FDpwUo?autoplay=0&playlist=t-Pe3FDpwUo&loop=1&autohide=1&rel=0&mute=0&origin=http://bipolar-artist.com" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </a>
                </div>
                <!--<div class="ba-c-works-grid__item">
                    <div class="ba-c-works-grid__item-wrapper">
                        <div class="ba-c-works-grid__item-tag">Virgin</div>
                        <div class="ba-c-wgg">
                            <div class="ba-c-wgg__item carousel-cell">
                                <picture class="ba-c-works-grid__item-image  imgCover">
                                    <img src="/images/imgContent/BA_worksgrid_home_virgin.jpg">
                                </picture>
                            </div>
                            <div class="ba-c-wgg__item carousel-cell">
                                <picture class="ba-c-works-grid__item-image imgCover">
                                    <img src="/images/imgContent/BA_worksgrid_home_nuba.jpg">
                                </picture>
                            </div>
                        </div>
                        
                    </div>
                </div>-->
                <div class="ba-c-works-grid__item">
                    <a class="ba-c-works-grid__item-wrapper no-link">
                        <div class="ba-c-works-grid__item-tag">YAP</div>
                        <div class="ba-c-works-grid__item-video">
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/cZGVW9OkMW8?autoplay=0&playlist=cZGVW9OkMW8&loop=1&autohide=1&rel=0&mute=0&origin=http://bipolar-artist.com" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </a>
                </div>
                <!--<div class="ba-c-works-grid__item">
                    <a href="/inspiring-change.html#virgin" class="ba-c-works-grid__item-wrapper">
                        <div class="ba-c-works-grid__item-tag">Virgin</div>
                        <picture class="ba-c-works-grid__item-image imgCover">
                            <img src="/images/imgContent/BA_worksgrid_home_virgin.jpg">
                        </picture>
                    </a>
                </div>
                <div class="ba-c-works-grid__item">
                    <a class="ba-c-works-grid__item-wrapper no-link">
                        <div class="ba-c-works-grid__item-tag">YAP</div>
                        <picture class="ba-c-works-grid__item-image imgCover">
                            <img src="/images/imgContent/BA_worksgrid_home_yap.jpg">
                        </picture>
                    </a>
                </div>-->
                <!--<div class="ba-c-works-grid__item">
                    <a href="/embracing-emotions.html#nuba" class="ba-c-works-grid__item-wrapper">
                        <div class="ba-c-works-grid__item-tag">Nuba</div>
                        <picture class="ba-c-works-grid__item-image imgCover">
                            <img src="/images/imgContent/BA_worksgrid_home_nuba.jpg">
                        </picture>
                    </a>
                </div>-->
                <div class="ba-c-works-grid__item">
                    <a class="ba-c-works-grid__item-wrapper no-link">
                        <div class="ba-c-works-grid__item-tag">Nuba</div>
                        <div class="ba-c-works-grid__item-video">
                            <video mute controls loop class="teaser-d" poster="/video/BA_embracing_emotions_nuba-poster.jpg">
                                <source src="/video/BA_embracing_emotions_nuba.mp4" type="video/mp4">
                                <source src="/video/BA_embracing_emotions_nuba.webm" type="video/webm">
                            </video>	
                        </div>
                    </a>
                </div>
                <!--<div class="ba-c-works-grid__item">
                    <a href="/creating-change.html#proactiv" class="ba-c-works-grid__item-wrapper">
                        <div class="ba-c-works-grid__item-tag">Proactiv</div>
                        <picture class="ba-c-works-grid__item-image imgCover">
                            <img src="/images/imgContent/BA_worksgrid_home_proactiv.jpg">
                        </picture>
                    </a>
                </div>-->
                <div class="ba-c-works-grid__item">
                    <a class="ba-c-works-grid__item-wrapper no-link">
                        <div class="ba-c-works-grid__item-tag">Proactiv</div>
                        <div class="ba-c-works-grid__item-video">
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/H1X1umhmnKg?autoplay=0&playlist=H1X1umhmnKg&loop=1&autohide=1&rel=0&mute=0&origin=http://bipolar-artist.com" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </a>
                </div>
                <!--<div class="ba-c-works-grid__item">
                    <a href="/inspiring-change.html#yallacompare" class="ba-c-works-grid__item-wrapper">
                        <div class="ba-c-works-grid__item-tag">YallaCompare</div>
                        <picture class="ba-c-works-grid__item-image imgCover">
                            <img src="/images/imgContent/BA_worksgrid_home_yallacompare.jpg">
                        </picture>
                    </a>
                </div>-->
                <div class="ba-c-works-grid__item">
                    <a class="ba-c-works-grid__item-wrapper no-link">
                        <div class="ba-c-works-grid__item-tag">YallaCompare</div>
                        <div class="ba-c-works-grid__item-video">
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/FimbD03Lumg?autoplay=0&playlist=FimbD03Lumg&loop=1&autohide=1&rel=0&mute=0&origin=http://bipolar-artist.com" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </a>
                </div>
                <div class="ba-c-works-grid__item">
                    <a class="ba-c-works-grid__item-wrapper no-link">
                        <div class="ba-c-works-grid__item-tag">giffgaff</div>
                        <div class="ba-c-works-grid__item-video">
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/yQzScFse58o?autoplay=0&playlist=yQzScFse58o&loop=1&autohide=1&rel=0&mute=0&origin=http://bipolar-artist.com" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </a>
                </div>
                <div class="ba-c-works-grid__item">
                    <a href="/embracing-change.html#sky" class="ba-c-works-grid__item-wrapper">
                        <div class="ba-c-works-grid__item-tag">Sky</div>
                        <picture class="ba-c-works-grid__item-image imgCover">
                            <img src="/images/imgContent/BA_worksgrid_home_sky.jpg">
                        </picture>
                    </a>
                </div>
                <!--<div class="ba-c-works-grid__item">
                    <a href="/inspiring-emotions.html#afterbrunch" class="ba-c-works-grid__item-wrapper">
                        <div class="ba-c-works-grid__item-tag">After Brunch</div>
                        <picture class="ba-c-works-grid__item-image imgCover">
                            <img src="/images/imgContent/BA_worksgrid_home_afterbrunch.jpg">
                        </picture>
                    </a>
                </div>-->
                <div class="ba-c-works-grid__item">
                    <div class="ba-c-works-grid__item-wrapper">
                        <div class="ba-c-works-grid__item-tag">After Brunch</div>
                        <div class="ba-c-wgg carousel">
                            <div class="ba-c-wgg__item carousel-cell imgCover">                                
                                    <img src="/images/imgContent/BA_inspiring_emotions-afterbrunch-carousel-3.jpg">                                
                            </div>
                            <div class="ba-c-wgg__item carousel-cell imgCover">                                
                                    <img src="/images/imgContent/BA_inspiring_emotions-afterbrunch-carousel-7.jpg">                                
                            </div>
                            <div class="ba-c-wgg__item carousel-cell imgCover">
                                
                                    <img src="/images/imgContent/BA_inspiring_emotions-afterbrunch-carousel-4.jpg">
                                
                            </div>
                            <div class="ba-c-wgg__item carousel-cell imgCover">
                                
                                    <img src="/images/imgContent/BA_inspiring_emotions-afterbrunch-carousel-6.jpg">
                                
                            </div>
                            <div class="ba-c-wgg__item carousel-cell imgCover">
                                
                                    <img src="/images/imgContent/BA_inspiring_emotions-afterbrunch-carousel-5.jpg">
                                
                            </div>
                            <div class="ba-c-wgg__item carousel-cell imgCover">
                                
                                    <img src="/images/imgContent/BA_inspiring_emotions-afterbrunch-carousel-1.jpg">
                                
                            </div>
                            <div class="ba-c-wgg__item carousel-cell imgCover">
                                
                                    <img src="/images/imgContent/BA_inspiring_emotions-afterbrunch-carousel-2.jpg">
                                
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <!--<div id="section-5" class="full-bleed ba-l-colorBg--orange-1">
            <div class="ba-l-container ba-u-spacer-pt-double">
                <h1><span class="max-size serif">Pick our brain</span></h1>
                <div class="ba-l-cols-md-2">
                    <div class="ba-l-cols__col ba-u-spacer-mb-double">
                        <p>We love sharing ideas, knowledge and expertise. And we love talking about our latest trip or an amazing meal. Get a coffee and check out some of our articles. </p>
                        <p><a href="#" class="ba-u-text-bold ba-u-link-arrow">View all</a></p>
                    </div>
                    <div class="ba-l-cols__col ba-u-spacer-mb-double"></div>
                </div>
            </div>
            <div class="ba-c-hoGa carousel ba-u-spacer-mb-huge">
                <div class="ba-c-hoGa__card carousel-cell">
                    <div class="ba-c-hoGa__card-picture">
                        <div class="ba-c-hoGa__card-tag">Creatint Change</div>
                        <picture class="ba-c-hoGa__card-image imgCover">
                            <img src="/images/imgContent/home-gallery-picture.png">
                        </picture>
                    </div>
                    <div class="ba-c-hoGa__content">
                        <div class="ba-c-hoGa__content-quote">“You guys rock. The gameplan video was a total joy, super clear and has a lovely warmth to it. Bravo team!”</div>
                        <div class="ba-c-hoGa__content-subQuote">Abi Pearl - Head of Advertising at giffgaff </div>
                        <div class="ba-c-hoGa__content-author-date">Kevin Forde |  23 September 2020</div>
                    </div>
                </div>
                <div class="ba-c-hoGa__card carousel-cell">
                    <div class="ba-c-hoGa__card-picture">
                        <div class="ba-c-hoGa__card-tag">Creatint Change</div>
                        <picture class="ba-c-hoGa__card-image imgCover">
                            <img src="/images/imgContent/home-gallery-picture.png">
                        </picture>
                    </div>
                    <div class="ba-c-hoGa__content">
                        <div class="ba-c-hoGa__content-quote">“You guys rock. The gameplan video was a total joy, super clear and has a lovely warmth to it. Bravo team!”</div>
                        <div class="ba-c-hoGa__content-subQuote">Abi Pearl - Head of Advertising at giffgaff </div>
                        <div class="ba-c-hoGa__content-author-date">Kevin Forde |  23 September 2020</div>
                    </div>
                </div>
            </div>-->
        </div>

        <div class="full-bleed">
            <div class="ba-c-hello-section ba-u-spacer-pb-simple">
                <div class="ba-l-container ba-c-hello-section__container">
                    <div class="ba-c-hello-section__deco-side">
                        <div class="deco-side__icon">
                            <img src="/images/imgContent/icon-contact.png" class="img-responsive">
                        </div>
                        <div class="deco-side__title">
                            <h2><span class="serif max-size">Hola<br>Hello</span></h2>
                        </div>
                    </div>
                    <div class="ba-c-hello-section__content">
                        <p>If you want to say adios to the status quo and boost your business, then give us a shout.</p>
                        <p><a href="/contact.html" class="ba-u-text-bold ba-u-link-arrow">Contact us</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>    		
{{end}}
{{ define "footer" }}
    {{ partial "footer.html" . }}
{{ end }}
